# =========================
# Node / React
# =========================
node_modules/
dist/
build/

# =========================
# Environment Variables
# =========================
.env
.env.local
.env.production
.env.development

# =========================
# Python
# =========================
.venv/
venv/
__pycache__/
*.pyc

# =========================
# AI / ML
# =========================
runs/
ai-backend/venv/
*.pt
*.pth
*.onnx
*.engine

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Cache / Temp
# =========================
.cache/
tmp/
temp/
uploads/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editors
# =========================
.vscode/
.idea/

# =========================
# Testing
# =========================
coverage/

# =========================
# Misc
# =========================
*.zip
*.tar.gzvenv-rembg/
