# ── MongoDB ──────────────────────────────────────────
MONGODB_URI=mongodb+srv://Nagaraj_Jakkappa:Nagaraj123@personal-portfolio.8d46pdg.mongodb.net/portfolio?retryWrites=true&w=majority&appName=personal-portfolio

# ── JWT ──────────────────────────────────────────────
JWT_SECRET=nagaraj_ncode_secure_secret_2026
JWT_EXPIRES_IN=7d

# ── Admin Credentials (hashed at first run) ──────────
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Nagaraj@2026!

# ── CORS ─────────────────────────────────────────────
CLIENT_URL=http://localhost:5180

# ── Server ───────────────────────────────────────────
PORT=5180
NODE_ENV=development